<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/help.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section id="help-page">
      <div class="img">
        <img src="/images/help-page/headphone-img.png" alt="" />
      </div>
      <div class="help-form">
        <p class="help-form-title">Need Any Help</p>
        <form class="help-main-form" action="" method="">
          <input
            class="help-form-input"
            type="text"
            placeholder="Enter Your Name"
          />
          <input
            class="help-form-input"
            type="text"
            placeholder="Enter Your E-mail"
          />
          <input
            class="help-form-input desc-input"
            type="text"
            placeholder="Enter Your Message"
          />
          <button class="help-form-btn">Send</button>
        </form>
      </div>
    </section>
  </body>
</html>
