<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TechTrove | Made For You</title>
    <link rel="stylesheet" href="/public/css/suggestion.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Made For You</h1>
    <section id="suggestion-div1">
      <div class="headphone-card type1-grid card1">
        <img
          class="headphone-img"
          src="/public/images/headphones/jbl-headphone.png"
          alt=""
        />
        <div>
          <p class="card-desc">New Collection Of headphones</p>
          <button class="view-btn">View AlL</button>
        </div>
      </div>

      <div class="headphone-card type1-grid card2">
        <img
          class="headphone-img"
          src="/public/images/headphones/hyperx-headphone.png"
          alt=""
        />
        <div>
          <p class="card-desc">Redefining the modern Design</p>
          <button class="view-btn">View All</button>
        </div>
      </div>

      <div class="headphone-card card3">
        <img
          class="headphone-img card3-img"
          src="/public/images/headphones/beats-headphone.png"
          alt=""
        />
        <button class="view-btn">View All</button>
      </div>
    </section>

    <section id="suggestion-div2">
      <div class="headphone-card card4">
        <div>
          <img
            class="headphone-img"
            src="/public/images/headphones/marshall-headphone.png"
            alt=""
          />
          <button class="view-btn">View All</button>
        </div>
        <p class="discount-text">40% OFF</p>
      </div>

      <div class="headphone-card card5">
        <div>
          <img
            class="headphone-img"
            src="/public/images/headphones/Razor-headphone.png"
            alt=""
          />
          <button class="view-btn">View All</button>
        </div>
        <p class="discount-text">40% OFF</p>
      </div>

      <div class="headphone-card card6">
        <div>
          <p class="card-desc">Quiet And Comfort Headphones</p>
          <button class="view-btn">View All</button>
        </div>
        <img
          class="headphone-img"
          src="/public/images/headphones/Razor-headphone.png"
          alt=""
        />
      </div>
    </section>
  </body>
</html>
