body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.banner {
    width: auto;
    height: auto;
    /* object-fit: fill; */
    background-image: url(../images/banner/man-img.jpg);
    background-size: cover;
    padding-bottom: 2rem;
    margin-bottom: 5rem;

}

.shop {
    margin-top: 25px;
    width: 200px;
    height: 40px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.content {
    padding: 200px;
    text-align: center;
}

.headphone-text {
    letter-spacing: 30px;
    font-size: 3rem;
    padding: 2rem 0;
}

.headphone {
    letter-spacing: 30px;

}

.main-head {
    font-size: 40px;
}