h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;

}

#suggestion-div1 {
    grid-template-columns: auto auto auto;
    /* grid-template-rows: auto auto; */
    justify-content: center;
    align-items: center;
    display: grid;
    gap: 3rem;
}

.headphone-img {
    width: 13rem;
}

a {
    text-decoration: none;
    color: white;
}

.card3-img {
    width: 13rem;
}


.headphone-card {
    /* background-color: wheat; */
    /* padding: 2rem 2rem ; */
    border-radius: 30px;
    transition: 500ms;
    box-shadow: 15px 15px 15px #00000050;

}

.headphone-card:hover {
    transform: scale(1.05);
    transition: 200ms;
}

.type1-grid {
    font-family: 'Poppins', sans-serif;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    display: grid;
    gap: 1rem;
}

.card-desc {
    width: 15rem;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;


}

.card1 {
    background-image: linear-gradient(90deg, #00000075, #000000);
    padding: 1rem;
}

.card2 {
    background-image: linear-gradient(45deg, #8D0411, #ED0F28);

}

.card3 {
    background-image: linear-gradient(45deg, #FFA03B, #F7D05F);
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;


}

.view-btn {
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 5px;
    border-style: none;
    background-color: #ffffff;
}

#suggestion-div2 {
    grid-template-columns: auto auto auto;
    /* grid-template-rows: auto auto; */
    justify-content: center;
    align-items: center;
    display: grid;
    gap: 2rem;
    padding-bottom: 2rem;
}

.card4,
.card5 {
    background-image: linear-gradient(45deg, #0F396D, #0996E3);
    grid-template-columns: auto auto;
    justify-content: space-around;
    background-color: wheat;
    align-items: center;
    display: grid;
}

.discount-text {
    font-family: 'Poppins', sans-serif;
    color: #ffffff80;
    font-weight: 900;
    font-size: 4rem;
    width: 10rem;

}

.card5 {
    background-image: linear-gradient(45deg, #7A6454, #EAD5C7);
}

.card6 {
    background-image: linear-gradient(45deg, #50405D, #B783DF);
    /* padding: 0 8rem; */
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}