<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Trove</title>
    <link rel="stylesheet" href="/css/user.css" />
  </head>
  <body>
    <section id="user-main-cont">
      <section class="user-pic-part">
        <div class="left-section">
          <ul>
            <li class="left-sec-li">Profile</li>
            <li class="left-sec-li">Track Order</li>
            <li class="left-sec-li">Cart</li>
            <li class="left-sec-li">Wishlist</li>
            <li class="left-sec-li">Notification</li>
          </ul>
        </div>
      </section>

      <section id="user-info">
        <div class="right-user-form">
          <form class="right-form" action="">
            <input type="text" placeholder="First Name" />
            <input type="text" placeholder="Last Name" />
            <input type="number" placeholder="Ph Number" />
            <input type="email" placeholder="E-mail" />
            <input type="text" placeholder="Country" />
            <input type="text" placeholder="State" />
            <div class="google-btn">
              <img class="google-img" src="/images/user/google.png" alt="" />
              <p>Sign in with Google</p>
            </div>
          </form>
        </div>
        <div class="left-user-form">
          <p class="Address-title">Address 1</p>
          <form class="left-form" action="">
            <input type="text" placeholder="Street Address line 1" />
            <input type="text" placeholder="Street Address line 2" />
            <div class="right-form-code">
              <input class="City" type="text" placeholder="City" />
              <input class="zip-code" type="text" placeholder="Zip Code" />
            </div>
            <button class="save-btn">Save</button>
          </form>
          <div class="left-user-form">
            <p class="Address-title">Address 2 (Optional)</p>
            <form class="left-form" action="">
              <input type="text" placeholder="Street Address line 1" />
              <input type="text" placeholder="Street Address line 2" />
              <div class="right-form-code">
                <input class="City" type="text" placeholder="City" />
                <input class="zip-code" type="text" placeholder="Zip Code" />
              </div>
              <button class="save-btn">Save</button>
            </form>
          </div>
        </div>
      </section>
    </section>
  </body>
</html>
