<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/product/filter.css" />
  </head>
  <body>
    <section id="product-nav">
      <div class="price-filter">
        <p class="price-text">Sort by price</p>
        <img
          class="dropdown-btn"
          src="/images/product/dropdown-btn.png"
          alt=""
        />
      </div>
      <img
        class="hamburger-logo"
        src="/images/product/hamburger-menu-logo.png"
        alt=""
      />
    </section>
  </body>
</html>
