<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TechTrove | Headphone</title>
    <link rel="stylesheet" href="/css/product/headphone.css" />
  </head>
  <body>
    <section id="headphone">
      <div class="headphone-row1">
        <div class="headphone-row1-card1">
          <img
            class="headphone-img"
            src="/images/headphones/beats-headphone.png"
            alt=""
          />
          <h1>40000</h1>

          <button class="cart-btn">Add To Cart</button>
        </div>
        <div class="headphone-row1-card1">
          <img
            class="headphone-img"
            src="/images/headphones/beats-headphone.png"
            alt=""
          />
          <h1>40000</h1>
          <button class="cart-btn">Add To Cart</button>
        </div>
        <div class="headphone-row1-card1">
          <img
            class="headphone-img"
            src="/images/headphones/beats-headphone.png"
            alt=""
          />
          <h1>40000</h1>
          <button class="cart-btn">Add To Cart</button>
        </div>
      </div>

      <div class="headphone-row1">
        <div class="headphone-row1-card1">
          <img
            class="headphone-img"
            src="/images/headphones/beats-headphone.png"
            alt=""
          />
          <h1>40000</h1>
          <button class="cart-btn">Add To Cart</button>
        </div>
        <div class="headphone-row1-card1">
          <img
            class="headphone-img"
            src="/images/headphones/beats-headphone.png"
            alt=""
          />
          <h1>40000</h1>
          <button class="cart-btn">Add To Cart</button>
        </div>
        <div class="headphone-row1-card1">
          <img
            class="headphone-img"
            src="/images/headphones/beats-headphone.png"
            alt=""
          />
          <h1>40000</h1>
          <button class="cart-btn">Add To Cart</button>
        </div>
      </div>

      <div class="headphone-row1">
        <div class="headphone-row1-card1">
          <img
            class="headphone-img"
            src="/images/headphones/beats-headphone.png"
            alt=""
          />
          <h1>40000</h1>
          <button class="cart-btn">Add To Cart</button>
        </div>
        <div class="headphone-row1-card1">
          <img
            class="headphone-img"
            src="/images/headphones/beats-headphone.png"
            alt=""
          />
          <h1>40000</h1>
          <button class="cart-btn">Add To Cart</button>
        </div>
        <div class="headphone-row1-card1">
          <img
            class="headphone-img"
            src="/images/headphones/beats-headphone.png"
            alt=""
          />
          <h1>40000</h1>
          <button class="cart-btn">Add To Cart</button>
        </div>
      </div>
    </section>
  </body>
</html>
