<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/banner.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <title>Manhead.in</title>
  </head>
  <body>
    <div class="banner">
      <div class="content">
        <h2 class="main-head">India's No.1 Earwear Audio Brand</h2>
        <p class="headphone-text">HEADPHONES</p>
        <h4 style="font-size: 20px">
          It's Time to take a leap and say hi to next gen
        </h4>
        <button class="shop" type="button">Shop Headphones</button>
      </div>
    </div>
  </body>
</html>
