<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/quality.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="background-img">
      <section id="about-us">
        <p class="about-title">That's why you choose us!</p>
        <div class="about-images">
          <div class="quality1">
            <img
              class="about-img"
              src="/images/quality/free-shipping.png"
              alt=""
            />
            <p class="quality-title">Free Shipping</p>
            <p class="quality-desc">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Repudiandae nostrum qui ea dolorum ab sint.
            </p>
          </div>
          <div class="quality2">
            <img
              class="about-img"
              src="/images/quality/money-back.png"
              alt=""
            />
            <p class="quality-title">Money Back Gurantee</p>

            <p class="quality-desc">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere,
              quae fugit cumque cupiditate veniam incidunt!
            </p>
          </div>
          <div class="quality3">
            <img
              class="about-img"
              src="/images/quality/easy-payment.png"
              alt=""
            />
            <p class="quality-title">Easy Payment</p>

            <p class="quality-desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Exercitationem neque ullam amet repudiandae, molestias est.
            </p>
          </div>
          <div class="quality4">
            <img
              class="about-img"
              src="/images/quality/quality-control.png"
              alt=""
            />
            <p class="quality-title">Quality Assurance</p>

            <p class="quality-desc">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum
              sed odio, blanditiis eaque delectus recusandae
            </p>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
